<template>
  <b-container>
    <b-row class="justify-content-md-center">
      <h2>Application Uptime</h2>
    </b-row>
    <b-row v-if="this.isBusy === true" class="justify-content-md-center">
      <div slot="table-busy" class="text-center text-danger my-2">
        <b-spinner class="align-middle"></b-spinner>
        <strong>Loading...</strong>
      </div>
    </b-row>
    <template v-else>
      <b-list-group>
        <b-list-group-item class="d-flex justify-content-between align-items-center">
          Uptime
          <b-badge variant="primary" pill>{{status.uptime}} minutes</b-badge>
        </b-list-group-item>
        <b-list-group-item class="d-flex justify-content-between align-items-center">
          Insert
          <b-badge variant="primary" pill>{{status.insert}}</b-badge>
        </b-list-group-item>
        <b-list-group-item class="d-flex justify-content-between align-items-center">
          Update
          <b-badge variant="primary" pill>{{status.update}}</b-badge>
        </b-list-group-item>
        <b-list-group-item class="d-flex justify-content-between align-items-center">
          Delete
          <b-badge variant="primary" pill>{{status.delete}}</b-badge>
        </b-list-group-item>
        <b-list-group-item class="d-flex justify-content-between align-items-center">
          Search
          <b-badge variant="primary" pill>{{status.search}}</b-badge>
        </b-list-group-item>
      </b-list-group>
    </template>
  </b-container>
</template>

<script>
  import { BContainer, BRow, BListGroup, BListGroupItem, BBadge } from 'bootstrap-vue'
  import { getUptime } from '@/services/index'
  export default {
    name: 'application-status',
    components: {
      BContainer,
      BRow,
      BListGroup,
      BListGroupItem,
      BBadge
    },
    data () {
      return {
        status: {
          uptime: null,
          insert: null,
          update: null,
          delete: null,
          search: null
        },
        isBusy: false
      }
    },
    methods: {
      load () {
        this.isBusy = true
        getUptime().then(({data}) => {
          this.status = data
          this.isBusy = false
        }).catch(({response}) => {
          this.isBusy = false
          this.$bvToast.toast(response.data.message, {
            title: 'error',
            variant: 'danger',
            solid: true
          })
        })
      }
    },
    created () {
      this.load()
    }
  }
</script>
