<template>
  <b-container>
    <b-row class="my-1">
      <b-col sm="9">
        <h2>List of Documents</h2>
      </b-col>
      <b-col sm="3">
        <b-button variant="outline-success" size="lg" @click="create">Create</b-button>
      </b-col>
    </b-row>
    <b-form>
      <b-row class="m-1">
        <b-col md="1">
          Filters:
        </b-col>
        <b-col md="4">
          <b-form-select :id="'type'" v-model="searchForm.type" :options="typeOptions"></b-form-select>
        </b-col>
        <b-col md="4">
          <b-form-input :disabled="searchForm.type === null" :id="'value'" v-model="searchForm.value" :type="'text'" v-mask="getMask"></b-form-input>
        </b-col>
        <b-col md="3">
          <b-form-select :id="'blacklisted'" v-model="searchForm.blacklisted" :options="blacklistedOptions"></b-form-select>
        </b-col>
      </b-row>
      <b-row class="m-1">
        <b-col md="1">
          Sort:
        </b-col>
        <b-col md="4">
          <b-form-select :id="'order'" v-model="searchForm.order" :options="orderOptions"></b-form-select>
        </b-col>
        <b-col md="4">
          <b-form-select :id="'sense'" v-model="searchForm.sense" :options="senseOptions"></b-form-select>
        </b-col>
        <b-col md="3">
          <b-button variant="success" @click="loadDocuments">
            Search
          </b-button>
          <b-button v-if="hasFilterOrder" variant="outline-secondary" @click="clear">
            Clear
          </b-button>
        </b-col>
      </b-row>
    </b-form>
    <b-row class="my-1">
      <b-table striped hover :items="items" :busy="isBusy" class="mt-3" outlined>
        <div slot="table-busy" class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
        <template slot="action" slot-scope="row">
          <b-button size="sm" class="mr-2" @click="edit(row.item)">
             Edit
          </b-button>
          <b-button size="sm" class="mr-2" variant="danger" @click="deleteItem(row.item)">
            Delete
          </b-button>
        </template>
      </b-table>
    </b-row>
  </b-container>
</template>

<script>
  import { BTable, BContainer, BRow, BSpinner, BButton, BCol, BForm, BFormSelect } from 'bootstrap-vue'
  import { getDocuments, deleteDocument } from '@/services/index'
  import { requiredIf } from 'vuelidate/lib/validators'
  export default {
    name: 'document-list',
    components: {
      BTable,
      BContainer,
      BRow,
      BSpinner,
      BButton,
      BCol,
      BForm,
      BFormSelect
    },
    computed: {
      getMask () {
        if (this.searchForm.type === 'cpf') {
          return '###.###.###-##'
        } else if (this.searchForm.type === 'cnpj') {
          return '##.###.###/####-##'
        }
        return ''
      },
      hasFilterOrder () {
        for (let key in this.searchForm) {
          if (this.searchForm[key] !== null && this.searchForm[key] !== '') {
            return true
          }
        }
        return false
      }
    },
    data () {
      return {
        items: [],
        isBusy: false,
        typeOptions: [
          {
            value: null, text: 'Select document type'
          },
          {
            value: 'cpf', text: 'CPF'
          },
          {
            value: 'cnpj', text: 'CNPJ'
          }
        ],
        blacklistedOptions: [
          {
            value: null, text: 'Select is blacklisted'
          },
          {
            value: 0, text: 'false'
          },
          {
            value: 1, text: 'true'
          }
        ],
        orderOptions: [
          {
            value: null, text: 'Select sort field'
          },
          {
            value: 'type', text: 'Type'
          },
          {
            value: 'value', text: 'Value'
          },
          {
            value: 'blacklisted', text: 'Blacklisted'
          },
          {
            value: 'aud_dh_insert', text: 'Created at'
          }
        ],
        senseOptions: [
          {
            value: null, text: 'Select sort direction'
          },
          {
            value: 'asc', text: 'Asc'
          },
          {
            value: 'desc', text: 'Desc'
          }
        ],
        searchForm: {
          type: null,
          value: null,
          blacklisted: null,
          order: null,
          sense: null
        }
      }
    },
    validations: {
      searchForm: {
        type: {
          required: requiredIf(function () {
            return this.searchForm.value !== null && this.searchForm.value !== ''
          })
        }
      }
    },
    methods: {
      loadDocuments () {
        this.isBusy = true
        let params = {}
        for (let key in this.searchForm) {
          if (this.searchForm[key] !== null && this.searchForm[key] !== '') {
            params[key] = this.searchForm[key]
          }
        }
        getDocuments(params).then(({data}) => {
          this.items = data.map(item => {
            item.action = true
            return item
          })
          this.isBusy = false
        }).catch(({response}) => {
          this.isBusy = false
          this.$bvToast.toast(response.data.message, {
            title: 'error',
            variant: 'danger',
            solid: true
          })
        })
      },
      clear () {
        for (let key in this.searchForm) {
          this.searchForm[key] = null
        }
        this.loadDocuments()
      },
      edit (item) {
        this.$router.push({name: 'document.edit', params: {id: item.id}})
      },
      deleteItem (item) {
        deleteDocument(item.id).then(() => {
          this.loadDocuments()
        }).catch(({response}) => {
          this.isBusy = false
          this.$bvToast.toast(response.data.message, {
            title: 'error',
            variant: 'danger',
            solid: true
          })
        })
      },
      create () {
        this.$router.push({name: 'document.create'})
      }
    },
    created () {
      this.loadDocuments()
    }
  }
</script>
