<template>
  <b-container>
    <b-row class="justify-content-md-center">
      <h2>Create Document</h2>
    </b-row>
    <b-row v-if="this.isBusy === true" class="justify-content-md-center">
      <div slot="table-busy" class="text-center text-danger my-2">
        <b-spinner class="align-middle"></b-spinner>
        <strong>Loading...</strong>
      </div>
    </b-row>
    <b-form @submit="save" v-if="isBusy === false">
      <b-row class="my-1">
        <b-col sm="3">
          <label :for="'type'">Type</label>
        </b-col>
        <b-col sm="9">
          <b-form-select :id="'type'" v-model="item.type" :options="typeOptions"></b-form-select>
          <b-form-invalid-feedback v-if="!$v.item.type.required && $v.item.type.$dirty" :state="$v.item.type.required">Type is required</b-form-invalid-feedback>
          <b-form-invalid-feedback v-if="validationErrors.type" v-for="(error, index) in validationErrors.type" :state="false" :key="index">{{error}}</b-form-invalid-feedback>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="3">
          <label :for="'value'">Value</label>
        </b-col>
        <b-col sm="9">
          <b-form-input :id="'value'" v-model="item.value" :type="'text'" v-mask="getMask"></b-form-input>
          <b-form-invalid-feedback v-if="!$v.item.value.required && $v.item.value.$dirty" :state="$v.item.value.required">Value is required</b-form-invalid-feedback>
          <b-form-invalid-feedback v-if="validationErrors.value" v-for="(error, index) in validationErrors.value" :state="false" :key="index">{{error}}</b-form-invalid-feedback>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="3">
          <label :for="'blacklisted'">Blacklisted</label>
        </b-col>
        <b-col sm="9">
          <b-form-checkbox :id="'blacklisted'" v-model="item.blacklisted" ></b-form-checkbox>
          <b-form-invalid-feedback v-if="validationErrors.blacklisted" v-for="(error, index) in validationErrors.blacklisted" :state="false" :key="index">{{error}}</b-form-invalid-feedback>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="3">
        </b-col>
        <b-col sm="9">
          <b-button type="submit" variant="primary">Save</b-button>
          <b-button type="button" variant="outline-secondary" @click="cancel">Cancel</b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script>
  import { BContainer, BRow, BForm, BFormSelect, BCol, BFormInput, BFormCheckbox, BButton, BFormInvalidFeedback } from 'bootstrap-vue'
  import { createDocument } from '@/services/index'
  import { required } from 'vuelidate/lib/validators'
  export default {
    name: 'document-create',
    components: {
      BContainer,
      BRow,
      BForm,
      BFormSelect,
      BCol,
      BFormInput,
      BFormCheckbox,
      BButton,
      BFormInvalidFeedback
    },
    computed: {
      getMask () {
        if (this.item.type === 'cpf') {
          return '###.###.###-##'
        } else if (this.item.type === 'cnpj') {
          return '##.###.###/####-##'
        }
        return ''
      }
    },
    data () {
      return {
        item: {
          id: null,
          type: null,
          value: null,
          blacklisted: null
        },
        isBusy: false,
        loadedError: false,
        typeOptions: [
          {
            value: null, text: 'Select document type'
          },
          {
            value: 'cpf', text: 'CPF'
          },
          {
            value: 'cnpj', text: 'CNPJ'
          }
        ],
        validationErrors: []
      }
    },
    validations: {
      item: {
        type: {
          required
        },
        value: {
          required
        }
      }
    },
    methods: {
      save () {
        this.validationErrors = []
        this.$v.$touch()
        if (this.$v.$invalid) { return }
        this.isBusy = true
        createDocument(this.item).then(() => {
          this.$router.push({name: 'document.list'})
        }).catch(({response}) => {
          this.isBusy = false
          this.$bvToast.toast(response.data.message, {
            title: 'error',
            variant: 'danger',
            solid: true
          })
          if (response.data.message === 'validation_error') {
            this.validationErrors = response.data.errors
          }
        })
      },
      cancel () {
        this.$router.push({name: 'document.list'})
      }
    }
  }
</script>
