<template>
  <div id="app">
    <header>
      <b-navbar toggleable="lg" type="dark" variant="info">
        <b-navbar-brand href="#" @click="pushRouter('document.list')">Document - List</b-navbar-brand>
        <b-navbar-nav class="ml-auto">
          <b-navbar-brand href="#" @click="pushRouter('application.status')">Application Status</b-navbar-brand>
        </b-navbar-nav>
      </b-navbar>
    </header>
    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
import { BNavbar, BNavbarBrand, BNavbarNav } from 'bootstrap-vue'
export default {
  name: 'app',
  components: {
    BNavbar,
    BNavbarBrand,
    BNavbarNav
  },
  methods: {
    pushRouter (route) {
      this.$router.push({name: route})
    }
  }
}
</script>

